/* 引入自定义字体 */
@font-face {
    font-family: 'HYTiaoTiao';
    src: url('https://www.jiasorry.com/assets/font/HYTiaoTiao.ttf') format('truetype');
}

body {
    font-family: 'HYTiaoTiao', Arial, sans-serif;
    background: linear-gradient(135deg, #ffffff, #ffffff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    text-align: center;
    padding: 0 10px;
}

h2 {
    font-family: 'HYTiaoTiao', Arial, sans-serif;
    margin: 0;
}

.logo {
    width: 73px;
    height: 92px;
    background: url('https://img.jiasorry.com/IMG_0244.jpg') no-repeat center;
    background-size: cover;
    margin-bottom: 20px;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* 让容器内部内容居中 */
}

.input-wrapper {
    position: relative;
    display: flex;
    align-items: center; /* 垂直居中 */
    width: 100%;
}

.input-wrapper input {
    padding-left: 40px; /* 为了给图片留出空间 */
    width: 100%;
    box-sizing: border-box;
}

.input-wrapper::before {
    content: "";
    position: absolute;
    left: 10px; /* 距离输入框左边的距离 */
    width: 20px; /* 图片宽度 */
    height: 20px; /* 图片高度 */
    background-image: url('https://img.jiasorry.com/icons8-card.gif');
    background-size: cover;
    background-position: center;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'HYTiaoTiao', Arial, sans-serif;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

input:focus {
    font-size: 16px;
    border-color: #4CAF50;
}

#result {
    margin-top: 20px; /* 让结果在输入框下方有一定间距 */
    color: #333;
    font-family: 'HYTiaoTiao', Arial, sans-serif;
    text-align: center; /* 让文本居中 */
    width: 100%; /* 让其占满父容器 */
    display: block; /* 确保它是块级元素 */
}

#speed {
    position: fixed;
    right: 20px;
    bottom: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'HYTiaoTiao', Arial, sans-serif;
}

/* 手机适配 */
@media (max-width: 600px) {
    .container {
        width: 95%;
        padding: 15px;
    }

    input {
        width: 90%;
        font-size: 16px;
    }
}
